<section id="closed-cards" class="cards cards--closed">
  <% if page.used? %>
    <%= render partial: "cards/display/preview", collection: page.records, as: :card, cached: true %>

    <% unless page.last? %>
    <% end %>
  <% else %>
    <p class="txt-medium translucent">Nothing here</p>
  <% end %>
</section>
