<% @page_title = @collection.name %>

<div class="card-columns">
  <%= render "public/collections/show/considering", page: @page %>
  <%= render "public/collections/show/doing", page: @page %>
</div>

<%= render "public/collections/show/closed", page: @page %>
